<!doctype html>
<html>

<body>
    <h1>Enter a data sample to test</h1>
    <form action="/predict" method="POST">
        <div>
            <label for="input-field-1">Enter your first input:</label>
            <input type="number" step="0.01" name="input-field-1">
        </div>
        <div>
            <label for="input-field-2">Enter your second input:</label>
            <input type="number" step="0.01" name="input-field-2">
        </div>
        <div>
            <label for="input-field-3">Enter your third input:</label>
            <input type="number" step="0.01" name="input-field-3">
        </div>
        <div>
            <label for="input-field-4">Enter your fourth input:</label>
            <input type="number" step="0.01" name="input-field-4">
        </div>
        <div>
            <label for="input-field-5">Enter your fifth input:</label>
            <input type="number" step="0.01" name="input-field-5">
        </div>
        <div>
            <label for="input-field-6">Enter your sixth input:</label>
            <input type="number" step="0.01" name="input-field-6">
        </div>
        <div>
            <label for="input-field-7">Enter your seventh input:</label>
            <input type="number" step="0.01" name="input-field-7">
        </div>
        <div>
            <input type="submit" value="Predict">
        </div>
    </form>
</body>

</html>